# Flutter/Dart specific
.dart_tool/
.packages
.pub-cache/
.pub/

# Android specific
android/.gradle/
android/build/
android/app/build/

# Ignorar arquivos sensíveis
android/local.properties
android/key.properties

# Ignorar arquivos de keystore
*.keystore

# VS Code settings
.vscode/

# IntelliJ IDEA settings
.idea/

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

# Other
*.log
